@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
header{
    color: rgb(30, 30, 30);
    text-align: center;
    height: 60px;
}
hr{
    position: relative;
    width: 75%;
    left: 50%;
    height: 2px;
    background-color: black;  /* Modern Browsers */
    border-style: none;
    transform:translate(-50%);
}
h1{
    position: relative;
    transform: translate(0,50%);
}
#bio_p{
    font-size: 18px;
}
#about_me{
    margin: 20px;
    font-size: 21px;
}
#bio{
    margin: 25px;
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
}
*{
    font-family: 'Josefin Sans';
    padding: 0;
    margin: 0;
}

#gallery_text{
    text-align: center;
    font-size: 21px;
    z-index: 1;
    transition: top 0.5s linear;
}
#gallery_container{
    display: grid;
    width: 100%;
    margin-top: 25px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 0vw;
    grid-column-gap: 10px;
    transition: margin-top 0.6s;
}
#gallery_item img {
    width: 32vw;
}
#gallery_item img:hover{
    scale: 1.2;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
    transition: scale 0.1s;
}