@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
#nav_container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10%;
    float: right;
    right: 15%;
    font-size: 18px;
    top: 5vh;
    transition: top 0.3s linear;
}
#nav_container :hover{
    cursor:pointer;
}
.nav_item{
    width: 75px;
    text-align: center;
    transition: top 0.3s linear;
}
a{
    text-decoration: none;
    color: black;
}
#mainpage_title{
    position: relative;
    top: 50vh;
    transform: translate(0,-50%);
    left: 15%;
    transition: top 0.3s linear;
}
#mainpage_name{
    font-size: 75px;
    font-weight: 700;
    transition: top 0.3s linear;
}
#mainpage_discover{
    font-weight: bold;
    transition: top 0.3s linear;
}
#mainpage_white{
    overflow: hidden;
    background-color: rgb(246, 246, 247);
    height: 1000px;
    width: 65vw;
    position: fixed;
    left: 35vw;
    z-index: 2;
    transition: width 0.4s, left 0.2s linear, top 0.3s linear;
}
#mainpage_blurry_text{
    position: relative;
    z-index: 1;
    color: white;
    transform: rotate(270deg);
    top: 120px;
    font-size: 20px;
    white-space: nowrap;
    transition: top 0.3s linear;
}
#mainpage_promo{
    position: relative;;
}
#mainpage_mehrez{
    height: 100vh;
    left: 100%;
    transform: translate(-88%);
    position: fixed;
    z-index: 0;
}
#mainpage_image{
    position: fixed;
    transform: translate(-5%);
    height: 100vh;
    z-index: 0;
}
#mainpage_blurry{
    height: 100vh;
    width: 5vw;
    overflow: hidden;
    position: fixed;

}
#mainpage_blurry img{
    height: 100vh;
    transform: translate(-10%,-15px);
    filter: blur(8px);
}
#me_title{
    top: 10vh;
    left: -100%;
    width: 50vw;
    position: absolute;
    font-size: 24px;
    transition: left 0.3s;
}
#me_title p:nth-child(1){
    font-size: 32px;

}
body{
    height: 700vh;
}
#gallery_text{
    top: 240vh;
    text-align: center;
    overflow: visible;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    font-size: 38px;
    z-index: 1;
    transition: top 0.5s linear;

}
#gallery_container{
    display: grid;
    margin-top: 100vh;
    width: 90vw;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 0vw;
    grid-column-gap: 0.5vw;
    transition: margin-top 0.6s;
    overflow: visible;
}

#gallery_item img{
    width: 30vw;
}
#gallery_item img:hover{
    scale: 1.2;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
    transition: scale 0.1s;
} 
#gray{
    width: 100%;
    height: 175px;
    background-color: rgb(214, 214, 214);
    float: bottom;
    position: absolute;
    z-index: 2;
    top: 2625px;

}
*{
    top: 0%;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans';
}

@media only screen and (max-device-width: 1200px){
    #nav_container{
        display: none;
        position: relative;
        grid-template-columns: repeat(4,1fr);
        column-gap: 10%;
        float: right;
        right: 15%;
        font-size: 18px;
        top: 5vh;
    }
    .nav_item{
        display: none;
        width: 75px;
        text-align: center;
    
    }
    a{
        text-decoration: none;
        color: black;
    }
    #mainpage_title{
        display: none;
        position: relative;
        top: 50vh;
        transform: translate(0,-50%);
        left: 15%; 
    }
    #mainpage_name{
        font-size: 75px;
        font-weight: 700;
    }
    #mainpage_discover{
        font-weight: bold;
    }
    #mainpage_white{
        overflow: hidden;
        background-color: rgb(246, 246, 247);
        height: 1000px;
        width: 100vw;
        position: fixed;
        left: 0vw;
        z-index: 2;
        transition: width 0.3s, left 0.2s linear;
    }
    #mainpage_blurry_text{ display: none;
        position: relative;
        z-index: 1;
        color: white;
        transform: rotate(270deg);
        top: 120px;
        font-size: 20px;
        white-space: nowrap;
    
    }
    #mainpage_promo{
        position: relative;;
    }
    #mainpage_mehrez{
        height: 100vh;
        left: 100%;
        transform: translate(-88%);
        position: fixed;
        z-index: 0;
    }
    #mainpage_image{
        position: fixed;
        transform: translate(-5%);
        height: 100vh;
        z-index: 0;
    }
    #mainpage_blurry{
        height: 100vh;
        width: 5vw;
        overflow: hidden;
        position: fixed;
    
    }
    #mainpage_blurry img{
        height: 100vh;
        transform: translate(-10%,-15px);
        filter: blur(8px);
    }
    #me_title{
        top: 100vh;
        left: -100%;
        width: 50vw;
        position: absolute;
        font-size: 24px;
        transition: left 0.3s;
    }
    #me_title p:nth-child(1){
        font-size: 32px;
    
    }
    body{
        height: 400vh;
    }
    #gallery_text{
        top: 10vh;
        text-align: center;
        overflow: visible;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        font-size: 38px;
        z-index: 1;
        transition: top 0.2s ;
    
    }
    #gallery_container{
        display: grid;
        margin-top: 10vh;
        width: 90vw;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        transition: margin-top 0.4s;
        overflow: visible;
    }
    
    #gallery_item img{
        width: 45vw;
    }
    #gallery_item img:hover{
        scale: 1.2;
        box-shadow: 0px 0px 10px rgb(187, 187, 187);
        transition: scale 0.1s;
    } 
    #gray{
        width: 100%;
        height: 175px;
        background-color: rgb(214, 214, 214);
        float: bottom;
        position: absolute;
        z-index: 2;
        top: 2625px;
    
    }
}
